[run]
branch = True
source = protobuf2pydantic

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise
ignore_errors = False
omit =
    tests/*
    protobuf2pydantic/__init__.py
